<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<div class="wrapper">
	<div class="box-around col-md-3 col-sm-12 pull-right rooms-list">
		<h3>Users in this room</h3>
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}</li>
		</ul>
	</div>

	<div class="box-around chat-window col-md-8 col-sm-12 pull-left">
		<h3>Hi {{currentUser}} and welcome to {{currentRoom}}
			<button class="btn btn-danger pull-right" ng-click="discon()">Log out!</button>  
			<button class="btn btn-primary pull-right" ng-click="goBack()">Leave room</button>
		</h3> 
		<ul class="chat-content">
    		<li ng-repeat="message in messages"><!--[{{message.timestamp}}]--> {{message.nick}} : {{message.message}}</li>
    	</ul>
	</div>

	<form class="input-group col-md-8 col-sm-12 pull-left" ng-submit="submitMsg()" style="padding-top:10px;">
		<input id="inputtext" class="form-control" type="text" ng-model="message" placeholder="Write a message..." style="height:40px; background-color:rgba(255, 255, 255, 0.85);" autofocus/>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default" style="height:40px; background-color:rgba(255, 255, 255, 0.85); color:#585858;">Send</button>
		</span>	
	</form>

	<div class="col-md-5 admin-panel">
		<br />
		<div>
			<form ng-submit="kickUser()">
	    		<input id="userkick" type="text" ng-model="userToKick" />
	    		<button type="submit" class="btn btn-primary">Kick User!</button>	
	    	</form>
		</div>
		<button class="btn btn-primary" ng-click="kickUser()">Kick user</button>
		<button class="btn btn-primary" ng-click="banUser()">Ban user</button>
	</div>
</div>
