<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>


<div class="col-md-9">
	<div class="well" id="chat-window">
		<h3>Hi {{currentUser}} and welcome to {{currentRoom}}
			<button class="btn btn-primary" ng-click="goBack()">Back to rooms</button>
			<button class="btn btn-danger pull right" ng-click="discon()">Log out!</button>
		</h3> 
		<ul>
    		<li ng-repeat="message in messages">{{message.nick}} : {{message.message}} <!--: {{message.timestamp}}--></li>
    	</ul>
	</div>

	<div>
		<form ng-submit="submitMsg()">
    		<input id="inputtext" type="text" ng-model="message" />
    		<button type="submit" class="btn btn-primary">Send</button>	
    	</form>
	</div>
</div>

<div class="col-md-3">
	<h4>Users in this room</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}</li>
		</ul>
	</div>
</div>