<!-- <div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
 -->
<div class="wrapper">

<!-- 	<div class="alert alert-danger col-lg-8 pull-left" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div> -->

	<div class="box-around col-lg-8 pull-left">
		<h3>Hi {{currentUser}} - Active chat rooms
			<button class="btn btn-danger pull-right" ng-click="discon()">Log out!</button>
		</h3>
		<form class="input-group">
			<input type="text" class="form-control" id="roomname" name="roomname" ng-model="roomname" placeholder="Name of room...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit" ng-click="newRoom()">Create a room</button>
			</span>
		</form>
		<div class="rooms-window">
			<ul class="rooms-list rooms-content">
				<!-- <li ng-repeat="room in rooms"><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li> -->
				<li ng-repeat="room in rooms"><a href ng-click="joinARoom(room)">{{room}}</a></li>
			</ul>
		</div>
	</div>
		
<!-- 	<div class="box-around col-lg-3 pull-right rooms-list">
		<h3>Users online</h3>
		<ul>
			<li ng-repeat="user in users">{{user}}</li>
		</ul>
	</div> -->

	<div class="box-around col-lg-3 col-md-12 pull-right">
		<h3>Private message</h3>
		<div>
			<form ng-submit="submitPrvtMsg()" class="input-group">
				<input id="inputtext" type="text" ng-model="prvtMessage" class="form-control" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">Send</button>	
				</span>
			</form>
		</div>
		<select class="select-style" ng-model="prvtMessageTo">
			<option ng-repeat="user in users" ng-value="{{user}}">{{user}}</option>
		</select>

		<hr></hr>

		<div id="prvt-chat-window">
			<ul class="rooms-list prvt-chat-content">
	    		<li ng-repeat="prvtMessage in prvtMessages">{{prvtMessage.nick}} : {{prvtMessage.message}} <!--: {{prvtMessage.timestamp}}--></li>
	    	</ul>
		</div>
	</div>
</div>

 
