<h3>Hi {{currentUser}} - Active chat rooms</h3>
<div class="well">
 
	<div class="col-lg-6">
		<form class="input-group">
			<input type="text" class="form-control" id="roomname" name="roomname" ng-model="roomname" placeholder="Name of room...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit" ng-click="newRoom()">Create a room</button>
			</span>
		</form>
	</div>
 
	<br></br>
 
	<ul ng-repeat="room in rooms">
		<li><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li>
	</ul>
	
</div>

	
 
