/* css file */

.admin-settings .btn {
	margin-top: 10px;
}

.select-admin-panle {
	min-width: 100px;
	margin-right: 10px;
}

.btn {
	margin-right: 10px;
}

.admin-settings {
	padding-bottom: 20px;
}

.rooms-window {
	max-height: 500px;
}

.rooms-content {
	max-height: 400px;
	overflow: auto;
}

#prvt-chat-window {
	max-height: 400px;
}

.prvt-chat-content {
	max-height: 300px;
	overflow: auto;
}

.select-style {
	border-radius: 5px;
	padding: 5px;
	font-size: 10px;
}

.rooms-list li {
	list-style: none;
	font-size: 12pt;
}

h3, form {
	padding-bottom: 20px;
}

.wrapper {
	padding-top: 80px;
}

.box-around {
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 5px;
	margin-bottom: 20px;
}

.chat-window {
	height: 400px;
}

.chat-content {
	height: 300px;
   	overflow: auto;
}

.login-login {
	height:50px;
}

.vertical-center {
	padding-top: 90%;
}

.background-image {
	position: absolute;
/*	overflow: hidden; */  	
	top: 0; 
  	left: 0; 
  	min-width: 100%;
  	min-height: 100%;

}

.well {
	min-height: 80%;
}

img {
	height: 40px;
}
